/* MAIN */

/* hiddens */
#edicont_video {
  /*display: none;*/
}

.media {
  border-top: solid 1px #aaa;
  /*outline: solid 1px yellow;*/
}

.media img {
  width: 100px;
}

.singlevol, .parentvol {
  clear: both;
}

.parentvol {}

.childvol {}

/* SCALE OPTION */
.media.parentvol {
  /*to compensate childvol space after scale*/
  /*margin-bottom: -1em;*/
}

.media.childvol {
  /* margin-left: 4em;
   border-top: none;
   transform: scale(0.8);
   transform-origin: 0 0;
   margin-bottom: -3em;*/
  /*to compensate childvol space after scale*/
}

/*NON-SCALE OPTION*/

.media.childvol {
  width: 30%;
  float: left;
  border-top: none;
  margin: 0;
  min-width: 250px;
  border-left: solid 30px transparent;
  display: table;
}

.media.childvol img {
  width: 80px;
}

.media.childvol h4 {
  font-size: 95%;
}

/* /MAIN */

/* SINGLE */

#headcont img {
  width: 100%;
}

#headerbanner {
  padding: 0;
  margin: 0;
}

#headerbanner img {
  width: 100%;
}

.edicont {}

.price {
  font-family: Times, serif;
  font-weight: bold;
  font-size: 110%;
  background: #f9fdb0;
  padding: 4px;
}

.packshot {
  margin: 0 10px 0;
}

.digitalprices .packshot {
  float: left;
  width: 50%;
  max-width: 300px;
}

.digitalprices .vidcont {
  width: 100%;
}

.printprices .packshot {
  float: left;
  width: 50%;
  max-width: 200px;
}

.posterprices .packshot {
  width: 99%;
  display: block;
  margin: 0 auto;
  max-width: 700px;
}

.digitalprices > div, .printprices > div {
  display: table;
  width: 99%;
  padding: 0 5px;
  margin: 0 5px;
  border-top: dotted 1px #aaa;
}

.upIcons {
  height: 1.5em;
  display: inline-block;
  vertical-align: middle;
  opacity: 0.6;
}

.vidcont {
  width: 99%;
  background: black;
  /*max-width: 600px;*/
}

.imgtd img {
  width: 100%;
  max-width: 200px;
}

.imgtd a {
  display: block;
  width: 100%;
}

td.imgtd {
  width: 50%;
  vertical-align: top;
}

td.txttd {
  text-align: right;
  vertical-align: top;
}

.zasinline {
  background-image: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAC8AAAARCAMAAAB6iQVDAAAAGXRFWHRTb2Z0d2Fy ZQBBZG9iZSBJbWFnZVJlYWR5ccllPAAAABhQTFRFYmJi////sbGxkJCQ0tLS5OTk 9fX1Nzc3ZisElgAAAOpJREFUeNqUUlsShDAIS4HK/W+8JNTX6n4s49RU0xCgGCsi KzCO8NiwjUfgtokrf7zFlQ8rWqb3Kn0QzFr3XFcHRYzam3HNGJjmBJMH45tvhMYq 3Gz5d4Hpp72DH0LhO8auj9L/4tMb1J+tnKfRPy7+/YX/GtKfj/785Et//MF/7f/M dcD0NpVwxH3MUONXTv1ht2+TfuiDEob07GzN1aTrK88LB9NqnnpQmY8isSbNIWI2 rpbOQZYar9Zt591Yk3b6bzyZpIVGXQFfzQqecutJ9wBi1VfW0KUFdLWUgGp9R9Na v7HT/0eAAQCplgaH3y4ZAAAAAABJRU5ErkJggg==");
  display: inline-block;
  height: 17px;
  width: 47px;
  vertical-align: middle;
}

.posterorder {
  margin: 20px 0;
  padding: 10px;
  font-size: 120%;
  background: #ddd;
}

.posterorder > span {
  font: italic 120%/1em serif;
}

.posterorder a {
  font-weight: bold;
  border-bottom: dotted 1px blue;
}